<div class="container">
    <div class="card">
        <div class="card-header">
            <h2 class="text-center">Edit Employee Information</h2>
        </div>
        <div class="card-body">
             <%= render 'form', supplier: @supplier %>
        </div>
    </div>
</div>

